
<h1>Browse</h1>

<!--
<div class="ngRepeat-container">
    <ul>
       <li ng-repeat="artist in listArtist">{{artist.name}}</li> 
    </ul>
</div>
-->
    <div ng-click="showData()"></div><br/>
    Ng-click
    <br>
    <button onclick="">Button click</button><br/><br/>
    <ul >
      <li ng-repeat="item in listArtist">
        <p>ID: {{item.id}}</p>
        <p>Name: {{item.name}} </p>
        <p><img src="{{item.picture}}"/> </p>
          
      </li>
    </ul>

DANICA LIST
    <div class="nativeJavascript-container">
        <ul id="nativeAddArtist">
        </ul>
    </div>
