<div class="tabs-top1">
    <a href="#/browse">Browse</a>
</div>
<div class="tabs-top2">
    <a href="#/native">Javascript</a>
</div>
<div id="active" class="tabs-top3">
    <a href="#/repeat">Ng-repeat</a>
</div>

<button ng-click="browseRepeat()">SHOW RESULTS</button>

<div id="repeatTime"></div>

<div class="list" >
    <ul>
        <li ng-repeat="artist in browseArtist">
            <a class="item item-thumbnail-left">
              <img src="{{artist.picture}}">
              <h2>{{artist.name}}</h2>
            </a>
        </li>
    </ul>
</div>

<style>
document.addEventListener('DOMContentLoaded', function() {
   $("#repeatTime").html("DONE");
}, false);
</style>