<div class="search-artist-container">
    <h3>Search Artist:</h3>
    <form novalidate class="simple-form">
        <input class="inputBox" type="text" placeholder="artist" ng-model="search_input"/><i class="ion-ios-search"></i>
        <!--<input type="submit" value="SEARCH" ng-click="search()"/>-->
    </form>

   <div id="container1">
        <div id ="ngClick" ng-click="search()">Ng-click</div><br/>
        <div>Fetched {{numData1}} data in {{timer}}ms</div><br/><br/>
        <ul >
          <li ng-repeat="item in listOfArtist1">
            <p>ID: {{item.id}}</p>
            <p>Name: {{item.name}} </p>
            <p><img ng-show="online" class="contentImg" src="{{item.picture}}"/> </p>
            <p><img ng-hide="online" class="contentImg" src="../images/template_pic.jpg"/> </p>
              
          </li>
        </ul>
    </div>
    
    <div id="container2">
        <button id="btnClick">Button click</button><br/><br/>
        <div>Fetched {{numData2}} data in {{timer2}}ms</div><br/><br/>
        <ul >
          <li ng-repeat="item in listOfArtist2">
            <p>ID: {{item.id}}</p>
            <p>Name: {{item.name}} </p>
            <p><img class="contentImg" src="{{item.picture}}"/> </p>

          </li>
        </ul>
    </div>
