
<div class="search-container">    
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon super-search placeholder-icon"></i>
        <input type="text" placeholder="Search Artist" ng-model="search_input">
      </label>

    </div>

    <div class="row">
        <div class="col">
            <div id ="ngClick" class="button button-full button-positive" ng-click="search(search_input)">Using 'LIKE'</div><br/>
            <div ng-if="searchClicked">Showing {{pages1}} out of {{numData1}} data</div><br/>

            <div ng-show="searchLoader.loading" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>

            <ul><li ng-repeat="item in listOfArtist1">    
                <div class="card">
                      <div class="item item-divider">
                        <p>ID: {{item.id}}</p>
                      </div>
                      <div class="item item-text-wrap">
                        <img src="{{item.picture}}">
                      </div>
                      <div class="item item-divider">
                        <h4>{{item.name}}</h4>
                      </div>
                </div>
            </li></ul>
            <div ng-if="showButton">
                <button ng-click="moreItem()">Show {{numDataMore}} more</button>
            </div>
        </div>
    
    <div class="col">

        <button ng-click="searchFTS(search_input)" class="button button-full button-positive">Full Text Search</button><br/>
        <div ng-if="searchFTSClicked">Showing {{pages2}} out of {{numData2}} data</div><br/>
        
        <div ng-show="searchFTSLoader.loading" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> </div>
        
        <ul><li ng-repeat="item in listOfArtist2">    
            <div class="card">
                  <div class="item item-divider">
                    <p>ID: {{item.id}}</p>
                  </div>
                  <div class="item item-text-wrap">
                    <img src="{{item.picture}}">
                  </div>
                  <div class="item item-divider">
                    <h4>{{item.name}}</h4>
                  </div>
            </div>
        </li></ul>
        <div ng-if="showButtonFTS">
                <button ng-click="moreItem2()">Show {{numDataMore2}} more</button>
        </div>
    </div>

    
    </div>
</div>