
<div class="search-container">    
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon super-search placeholder-icon"></i>
        <input type="text" placeholder="Search Artist" ng-model="search_input">
      </label>

    </div>

    <div class="row">
        <div class="col">
            <div id ="ngClick" class="button button-full button-positive" ng-click="search()">Using 'LIKE'</div><br/>
            <div>Fetched {{numData1}} data</div><br/>

            <ul><li ng-repeat="item in listOfArtist1">    
                <div class="card">
                      <div class="item item-divider">
                        <p>ID: {{item.id}}</p>
                      </div>
                      <div class="item item-text-wrap">
                        <img src="{{item.picture}}">
                      </div>
                      <div class="item item-divider">
                        <h4>{{item.name}}</h4>
                      </div>
                </div>
            </li></ul>
        </div>
    
    <div class="col">
        <button ng-click="searchFTS()" class="button button-full button-positive">Full Text Search</button><br/>
        <div>Fetched {{numData2}} data</div><br/>
        <ul><li ng-repeat="item in listOfArtist2">    
            <div class="card">
                  <div class="item item-divider">
                    <p>ID: {{item.id}}</p>
                  </div>
                  <div class="item item-text-wrap">
                    <img src="{{item.picture}}">
                  </div>
                  <div class="item item-divider">
                    <h4>{{item.name}}</h4>
                  </div>
            </div>
        </li></ul>
    </div>

    
    </div>
</div>